@import "../../styles/responsive.scss";

.rimac-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 8px;
    padding: 0 120px;
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    box-sizing: border-box;

    @include mobile {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 4px;
        padding: 0 24px;
    }

    .columns {
        background-color: red;
        grid-column: span 1;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}