@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    margin: 0;
    color: #03050F !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", "Lato" !important;
}