@import "../styles/responsive.scss";

.rimac-home {
    padding: 32px 0;

    .desktop {
        grid-column: span 12;
        display: flex;

        @include mobile {
            display: none;
        }

        .image {
            border-radius: 24px;
            width: 100%;
            height: 100%;
            max-width: 480px;
            margin-right: 128px;
            overflow: auto;
        }

        .container-right {
            display: flex;
            flex-direction: column;
            width: 352px;
            flex-shrink: 0;
        }
    }

    .mobile {
        grid-column: span 4;
        display: none;
        flex-direction: column;

        @include mobile {
            display: flex;
        }

        .image {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            max-width: 136px;
            max-height: 160px;
            overflow: auto;
        }

        hr {
            grid-column: span 4;
            width: 100%;
            height: 1px;
            background-color: #CCD1EE;
            margin: 24px 0;
            border: 0;
        }

        .container-top {
            display: flex;
            column-gap: 12px;
            justify-content: space-between;
        }
    }

    .title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        margin-top: 16px;
        margin-bottom: 8px;

        @include mobile {
            margin-top: 8px;
            margin-bottom: 0;
            font-size: 28px;
            line-height: 36px;
        }
    }


    .paragraph {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .inputs-container {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .input-form {
        display: flex;
        border: 1px solid #5E6488;
        border-radius: 8px;

        .input {
            display: flex;
            flex-direction: column;
            padding: 8px 16px;
            width: 100%;

            label {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: #5E6488;
            }

            input {
                border: none;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                background-color: transparent;
                color: #03050F;

                &::-webkit-inner-spin-button {
                    appearance: none;
                    margin: 0;
                }

                &:focus-visible {
                    outline: 0;
                }

            }
        }

        .select {
            position: relative;
            display: flex;
            align-items: center;

            select {
                width: 140px;
                padding: 16px;
                border: none;
                border-right: 1px solid #5E6488;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #03050F;
                flex-shrink: 0;
                appearance: none;
                z-index: 1;
                background-color: transparent;

                &:focus-visible {
                    outline: 0;
                }
            }

            .icon {
                position: absolute;
                right: 16px;
                z-index: 0;
            }
        }


    }

    .checkoxs-form {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .checkbox-container {
            display: flex;
            align-items: center;
            column-gap: 12px;

            .checkbox {
                appearance: none;
                border: 1px solid #03050F;
                border-radius: 4px;
                width: 20px;
                height: 20px;
                margin: 0;

                &:checked {
                    background-color: #03050F;
                    background-image: url('/gl-sm-check.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            label {
                font-size: 12px;
                line-height: 20px;
            }
        }

        a {
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            text-decoration: underline;
            color: #a1a1a1;

            &:visited {
                color: #03050F;
            }
        }

    }

    .submit {
        justify-content: center;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        background-color: #03050F;
        color: white;
        padding: 20px 40px;
        border: none;
        border-radius: 40px;
        width: fit-content;

        @include mobile {
            width: inherit;
            font-size: 18px;
            line-height: 20px;
        }
    }

    .error-message {
        color: #FF1A1C;
        font-size: 12px;
    }
}